.welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome::after {
    content: "";
    background: url('../../img/introfone.jpg') center center no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    background-size: cover; 
  }

.welcome-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: jump 1.2s;
    animation-delay: .4s;
    animation-timing-function: cubic-bezier(.71,-0.09,.64,1.08);
    opacity: 0;
    animation-fill-mode: forwards;
    
}

.welcome-button {
    display: block;
    text-decoration: none;
}

.inbutton {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #1c5bc3;
    border: 1px solid currentColor;
    padding: 20px;
    border-radius: 3px;
    transition: .4s;
}


.wlk-but-img {
  position: relative;
  margin-left: 10px;
  width: 18px;
  height: 18px;
}

.wlk-but-img:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../img/sprite.png") -95px -101px;
  filter: contrast(120%);
  transition: .4s;
  opacity: 1;
}

.wlk-but-img:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../img/sprite.png") -418px 188.3px;
  background-size: 1248%;
  opacity: 0;
  transition: .4s;
}

.welcome-button:hover .wlk-but-img:after {
  opacity: 1;
}

.welcome-button:hover .wlk-but-img:before {
  opacity: 0;
}

.welcome-logo {
    margin-bottom: 40px;
}

.welcome-button:hover .inbutton {
    color: white;
    border: 1px solid #1c5bc3;
    background: #1c5bc3;
    transition: .4s;
}


@keyframes jump {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  
    0% {
        opacity: 0;
    }

    20% {
        opacity: .5;
    }


    40% {
        opacity: .7;
    }
    45% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  

