.form--heading {
    margin-bottom: 7px;
}

textarea, input {
    padding: 0;
}

.feedback_form {
    margin-bottom: 50px;
}
.formcontainer {
    width: 560px;
    background: #f5f5f5; 
    padding: 40px 9%;
    border-radius: 3px;
} 

.form-row {
    margin-bottom: 17px;
    display: flex;
}

.form-block {
    margin-right: 23px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-block:last-child {
    margin-right: 0;
}

.form-block-name {
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-block--box {
    background: white;
    border: none;
    font-size: 13px;
    border-radius: 3px;
    padding: 15px;
}

.form-block--box::placeholder {
    color: #d9d9d9;
}

.form_textarea {
    resize: vertical;
}

.input {
    display: none;
}

.input:checked ~ .input--vis {
    border-color: #4b73b5;
    background-image: linear-gradient(to bottom, #ececec, #fdfdfd);
}

.answer {
    font-size: 14px;
}

.input:checked ~ .answer {
    color: #4b73b5;
}

.input--vis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background: white;
    width: 18px;
    height: 18px;
    border: 1px solid #cacaca;
    border-radius: 50%;
    background-image: linear-gradient(to top, #ececec, #fdfdfd);
}

.input--point {
    background: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.input:checked ~ .input--vis .input--point {
    background: #4b73b5;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.mixed__form-row {
    justify-content: space-between;
    align-items: center;
}

.form-radio {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-radio-block {
    display: inline-flex;
    margin-right: 16px;
}

.form-button--button {
    width: 154px;
    height: 45px;
    background: #4b73b5;
    border: none;
    border-radius: 3px;
}

.form-button--inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-inner-text {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-right: 9px;
}

.fb-inner-img {
    width: 18px;
    height: 18px;
    background: center center no-repeat;
    background-image: url('../../img/icon_main_wh.png');
    background-size: 100%;
}

.form-button--button:hover .fb-inner-text{
    background: white;
    color: #4b73b5;
}

.form-button--button:hover {
    background: white;
    cursor: pointer;
}

.form-button--button:hover .fb-inner-img {
    background-size: 100%;
    background: center center no-repeat;
    background-image: url('../../img/icon_main.png');
}