.team_members {
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
    margin-bottom: 46px;
}

.team-member {
    margin-left: 40px;
    margin-bottom: 31px;
    margin-top: 13px;
    flex: 1 0 255px;
}

.tm-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.member-avatar {
    width: 172px;
    height: 172px;
    border-radius: 50%;
    background-color: #4b73b5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 14px;
}

.member-avatar-img {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    filter: opacity(40%);
}

.member-name {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.member-about {
    text-align: center;
    display: flex;
    font-size: 15px;
}

.member-about p {
    padding: 0;
    margin: 0;
}

.member-fullname {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
}

.member-status {
    color: #4b73b5;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
}